.login-wrapper{
    width: 100%;
    background: linear-gradient(90deg, #536DFE 50%, hsl(228deg 33.33% 97.06%) 50%);
    display: flex !important;
    align-items: center;
    justify-content: center;
    .login-background{
        width: 90%;
        height: 90%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
        border-radius: 25px;
        .login-text-content {
            h1{
                // font-size: 100px;
            }
        }
    }
    .login-form{
        .remember-me-checkbox{
            height: 55px;
        }
    }
}